<div class="total {{darkmodeService.storedTheme}}">
    <div class="card__circle card__circle1"></div>
    <div class="card__circle card__circle2"></div>
    <div class="containt">
        <section class=" seccion1">
            <img src="assets/images/inicio.svg" alt="corpex inicio">
            <div class="textos">
                <h1>¿BUSCAR POSICIONAR EL CONTENIDO DE TU EMPRESA?</h1>
                <button mat-raised-button routerLink="nosotros">Conocenos</button>
            </div>
            <!-- <h2>En CORPEX planificamos, diseñamos y desarrollamos un servicio que se ajuste a las necesidades de su empresa..</h2> -->
        </section>
        <section class=" seccion2">
            <h1>Porque son nuestros clientes quienes avalan la calidad de nuestro servicio</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" *ngFor="let comentario of comentarios">
                        <img src="assets/images/quote.png" class="quote">
                        <div class="texto">
                            <p>{{comentario.descripcion}}</p>
                            <p>{{comentario.descripcion2}}</p>
                        </div>
                        <div class="detalles">
                            <div class="imgBx">
                                <img [src]="comentario.imagen" [alt]="comentario.nombre">
                            </div>
                            <h4>{{comentario.nombre}}<br><span>{{comentario.area}}</span></h4>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

            <h3>¿Quieres dejar una reseña?</h3>
            <button mat-flat-button (click)="nuevoComentario()">Agregar</button>
        </section>
    </div>
</div>