<div class="total {{darkmodeService.storedTheme}}">
    <div class="card__circle card__circle1"></div>
    <div class="card__circle card__circle2"></div>
    <div class="containt">
        <section class=" seccion1">
            <img src="assets/images/inicio.svg" alt="corpex inicio">
            <div class="textos">
                <h1>¿BUSCAR POSICIONAR EL CONTENIDO DE TU EMPRESA?</h1>
                <button mat-raised-button>Conocenos</button>
            </div>
            <!-- <h2>En CORPEX planificamos, diseñamos y desarrollamos un servicio que se ajuste a las necesidades de su empresa..</h2> -->
        </section>
        <section class=" seccion2">
            <h1>Comentarios</h1>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <img src="assets/images/quote.png" class="quote">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ullam mollitia accusamus doloribus aperiam sint reiciendis quo provident porro saepe</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <h3>Someone Famous <br><span>Creative Designer</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <img src="assets/images/quote.png" class="quote">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ullam mollitia accusamus
                                    doloribus aperiam sint reiciendis quo provident porro saepe</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <h3>Someone Famous <br><span>Creative Designer</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <img src="assets/images/quote.png" class="quote">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ullam mollitia accusamus
                                    doloribus aperiam sint reiciendis quo provident porro saepe</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <h3>Someone Famous <br><span>Creative Designer</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <img src="assets/images/quote.png" class="quote">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ullam mollitia accusamus
                                    doloribus aperiam sint reiciendis quo provident porro saepe</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <h3>Someone Famous <br><span>Creative Designer</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonialBox">
                            <img src="assets/images/quote.png" class="quote">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium ullam mollitia accusamus
                                    doloribus aperiam sint reiciendis quo provident porro saepe</p>
                                <div class="details">
                                    <div class="imgBx">
                                        <img src="assets/images/logo.png" alt="">
                                    </div>
                                    <h3>Someone Famous <br><span>Creative Designer</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</div>

