<nav class="nav containt {{darkmodeService.storedTheme}}">
    <a [routerLink]="['/']" class="izquierda">
        <img src="assets/images/logo.png" alt="Corpex SAC" />
        <p>CORPEX</p>
    </a>
    <div class="derecha">
        <div class="botones">
            <div class="dark-mode">
                <button class="switch" id="switch" (click)="darkmode()">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
              </button>
              </div>
            <div>
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                    <button mat-button color="black" [routerLink]="['/acceder']">
                        <mat-icon>login</mat-icon> Iniciar Sesión
                    </button>
                </ng-container>
    
                <ng-template #loggedIn>
                    <button mat-icon-button color="black">
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-button color="black" class="btn_perfil" [matMenuTriggerFor]="perfil">
                        <mat-icon>account_circle</mat-icon> Mi Cuenta
                    </button>
                    <mat-menu #perfil="matMenu">
                        <div class="info">
                        <img [src]="usuario.foto || 'assets/images/no-image.png'" alt="">
                            <p>Bienvenido <br> <span>{{usuario.usuario}}</span></p>
                        </div>
                        <button mat-menu-item>
                            <mat-icon>emoji_people</mat-icon>
                            <span>Información</span>
                        </button>
    
                        <button mat-menu-item>
                            <mat-icon>assignment</mat-icon>
                            <span>Historial de compra</span>
                        </button>
    
                        <button mat-menu-item (click)="authService.loggout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Cerrar Sesión</span>
                        </button>
                    </mat-menu>
                </ng-template>
            </div>
        </div>
        <div class="navegacion">
            <ul>
                <li><a [routerLink]="['/']">Inicio</a></li>
                <li><a [routerLink]="['/nosotros']">Nosotros</a></li>

                <li><a [matMenuTriggerFor]="servicios" >Servicios<mat-icon>expand_more</mat-icon>
                </a></li>
                <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
                <li><a [routerLink]="['/productos']">Productos</a></li>

                <li><a [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
            <a class="empresa" [routerLink]="['/']">CORPEX <span>S.A.C</span></a>
            <button mat-icon-button class="btn-navigation" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>        
        </div>
        <mat-menu class="menu__nav" #menu="matMenu" xPosition="before">

            <button mat-menu-item [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
       
            <button mat-menu-item [routerLink]="['/nosotros']">
                <mat-icon>people_alt</mat-icon>
                <span>Nosotros</span>
            </button>
            
            <button mat-menu-item [routerLink]="['/servicios']">
                <mat-icon>catching_pokemon</mat-icon>
                <span>Servicios</span>
            </button>
            <button mat-menu-item [routerLink]="['/proyectos']">
                <mat-icon>integration_instructions</mat-icon>
                <span>Proyectos</span>
            </button>
            
            <button mat-menu-item [routerLink]="['/productos']">
                <mat-icon>shop</mat-icon>
                <span>Productos</span>
            </button>
            <button mat-menu-item [routerLink]="['/contacto']">
                <mat-icon>contact_mail</mat-icon>
                <span>Contacto</span>
            </button>
        </mat-menu>
        <mat-menu class="menu__nav" #servicios="matMenu" >
            <button mat-menu-item [routerLink]="['/servicios/seo-sem']">
                <mat-icon>search</mat-icon>
                <span>SEO/SEM</span>
            </button>
            
            <button mat-menu-item [routerLink]="['/servicios/marketing-digital']">
                <mat-icon>campaign</mat-icon>
                <span>Marketing Digital</span>
            </button>

            <button mat-menu-item [routerLink]="['/servicios/medios-sociales']">
                <mat-icon>important_devices</mat-icon>
                <span>Desarrollo WEB</span>
            </button>

            <button mat-menu-item [routerLink]="['/servicios']">
                <mat-icon>north_east</mat-icon>
                <span>Todos los Servicios</span>
            </button>
        </mat-menu>
    </div>
</nav>