.containt {
  width: 70%;
  min-height: 600px;
  margin: auto;
  position: relative;
}
.containt h1 {
  margin: 20px 0 0 0;
}

.cards {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards .card {
  width: 300px;
  height: 450px;
  padding: 30px;
  cursor: pointer;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3) inset -2px -2px 1px
    rgba(251, 251, 254, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  margin: 10px;
  transition: transform 0.4s;
}
.cards .card:hover {
  transform: scale(1.1);
}

.cards .card__icon {
  width: 100%;
  height: 20%;
  display: flex;
}

.cards .card__icon .image {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cards .card__icon .image img {
  width: 70%;
  height: 70%;
}
.cards .card__icon h3 {
  width: 210px;
  height: 90px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

.cards .card__description {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .card__description button {
  background: #16c79a;
  color: #fff;
  font-weight: 300;
}

/*-------------------*/

@media (max-width: 1100px) {
  .containt {
    width: 100%;
  }
}
