<div class="container {{modo}}">
    <div class="forms-container">
      <div class="signin-signup">

        <form [formGroup]="iniciarSesion" class="sign-in-form">
          <img src="assets/images/logo.png" style="width: 120px;" alt="Corpex SAC">
          <h2 class="title">Iniciar Sesión</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input formControlName="usuario" type="text" placeholder="nombre de usuario" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input formControlName="contraseña" type="password" placeholder="contraseña" />
          </div>
          <input [disabled]="iniciarSesion.invalid" (click)="SignIn()" type="submit" value="Acceder" class="btn solid" />
          <p class="social-text">Siguenos en nuestras redes sociales.</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

        <form [formGroup]="Registrarse" class="sign-up-form">
          <img src="assets/images/logo.png" style="width: 120px;" alt="Corpex SAC">
          <h2 class="title">Registro</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input formControlName="usuario"  type="text" placeholder="nombre de usuario" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input formControlName="correo"  type="email" placeholder="correo electronico" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input formControlName="contraseña"  type="password" placeholder="contraseña" />
          </div>
          <input [disabled]="Registrarse.invalid" type="submit" (click)="Registro()" class="btn" value="Registrarse" />
          <p class="social-text">Siguenos en nuestras redes sociales.</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>¿Nuevo aqui?</h3>
          <p>
            Para poder realizar compras en esta pagina web necesitas una cuenta.
          </p>
          <button class="btn transparent" (click)="modo = !modo"  id="sign-up-btn">
            Registrarse
          </button>
        </div>
        <img src="assets/images/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>¿Ya estas registrado?</h3>
          <p>
            Si ya tienes una cuenta en esta pagina, accede desde aquí.
          </p>
          <button class="btn transparent" (click)="modo = !modo" id="sign-in-btn">
            Iniciar Sesión
          </button>
        </div>
        <img src="assets/images/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>