<div class="total {{darkmodeService.storedTheme}}">
    <div class="card__circle card__circle1"></div>
    <div class="card__circle card__circle2"></div>
    <h1 class="animated fadeIn">PROYECTOS CORPEX</h1>

    <div class="proyectos">
        <div class="proyecto">
            <div class="proyecto__img">
                <img src="assets/images/proyectos/gruincasas.png" alt="">
            </div>
            <div class="proyecto__descripcion">
                <h2>Gruincasas</h2>
                <p>Una empresa innovadora especializada en operaciones de compraventa de tecnología y equipo industrial B2B y B2C,
                necesitaba la mejor plataforma de e-commerce: un entorno de transacciones intuitivo, confiable y fácil de usar para sus
                clientes, que dejara clara su propuesta de valor y los muchos beneficios que ofrece. Y eso es exactamente lo que
                desarrollamos para ellos.</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="proyecto__img">
                <img src="assets/images/proyectos/gruincasas.png" alt="">
            </div>
            <div class="proyecto__descripcion">
                <h2>MediFacil</h2>
                <p>Una empresa innovadora especializada en operaciones de compraventa de tecnología y equipo industrial B2B y
                    B2C,
                    necesitaba la mejor plataforma de e-commerce: un entorno de transacciones intuitivo, confiable y fácil de
                    usar para sus
                    clientes, que dejara clara su propuesta de valor y los muchos beneficios que ofrece. Y eso es exactamente lo
                    que
                    desarrollamos para ellos.</p>
            </div>
        </div>
        <div class="proyecto">
            <div class="proyecto__img">
                <img src="assets/images/proyectos/gruincasas.png" alt="">
            </div>
            <div class="proyecto__descripcion">
                <h2>Control de facturas</h2>
                <p>Una empresa innovadora especializada en operaciones de compraventa de tecnología y equipo industrial B2B y
                    B2C,
                    necesitaba la mejor plataforma de e-commerce: un entorno de transacciones intuitivo, confiable y fácil de
                    usar para sus
                    clientes, que dejara clara su propuesta de valor y los muchos beneficios que ofrece. Y eso es exactamente lo
                    que
                    desarrollamos para ellos.</p>
            </div>
        </div>
    </div>
</div>

