<div class="total {{darkmodeService.storedTheme}}">
    <div class="card__circle card__circle1"></div>
    <div class="card__circle card__circle2"></div>
    <h1 class="animated fadeIn">PRODUCTOS CORPEX</h1>


    <div class="productos">
        <div class="card" *ngFor="let producto of productos">
            <div class="card__imagen">
                <img [src]="producto.imagen" [alt]="producto.nombre">
            </div>
            <div class="card__texto">
                <h4>{{producto.nombre}}</h4>
                <p><b>PRECIO:</b> {{producto.precio | currency:'PEN':'symbol':'1.0-0'}}</p>
                <button mat-flat-button (click)="detalles(producto)">DETALLES</button>
            </div>
        </div>
    </div>

</div>

